@import "variable";
@import "menu";
@import "mixin";
@import "table";
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.vehicle {
    width: calc(100% - 250px);
    float: right;
}

.vehicle-header {
    background-color: #eefbff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    margin-top: 40px;
    &__text {
        font-size: 18pt;
        text-transform: uppercase;
        span {
            color: #4ca2ff;
            font-weight: bold;
        }
    }
    &__buttonGroup {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        button {
            padding: 8px;
            border: none;
            color: #fff;
            font-size: 15px;
            width: 90px;
            cursor: pointer;
            border: 1px solid;
            &:hover {
                border: 1px solid #fff;
            }
            i {
                padding-right: 10px;
                color: #fff;
            }
            @include tablet {
                width: 120px;
                font-size: 13px;
            }
        }
        .BtnAddNew {
            background-color: #0865c1;
            &:hover {
                background-color: #173b67;
            }
        }
        .BtnDelete {
            background-color: $red;
            &:hover {
                background-color: #173b67;
            }
        }
    }
}